extends layout

block content
  h1= title
      
  div(class="container-fluid")
      div(class="row")
          -
            let office = results
            each i in office
                - let destination = `dispatch(\"/office/update?id=${office._id}\")`
                div(class="row-sm-2" class='m-1') office #{i.department} #{i.department}  is #{i.strength}
                    button(class="btn-primary ml-1", onclick=destination) Update
            script.
                function dispatch(path){
                    window.location.href = path
                }